/* Calendar base styles */
body {
    font-family: Arial, sans-serif;
    background-color: #000000; /* Color for overall background */
    margin: 0;
    padding: 0;
}
.nav {
    text-align: center;
    position: relative; /* Establish a positioning context for absolute positioning */
    padding-top: 10px; /* Add padding to ensure content does not overlap with buttons */
    padding-bottom: 10px; /* Additional space between the nav and calendar */
}

.nav #prev {
    position: absolute;
    left: calc(50% - 120px); /* Adjust this value as needed */
    top: calc(50% - 18px);
}
.nav #next {
    position: absolute;
    right: calc(50% - 120px); /* Adjust this value as needed */
    top: calc(50% - 18px);
}
.nav span {
    font-size: 1.2em;
    padding: 0 15px; /* Padding to push the arrows outward a bit */
    color: #FFFFFF; /* Color for the month and year header */
}

/* Style for arrow buttons */
.arrow-button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    width: 35px; /* SVG icon width */
    height: 35px; /* SVG icon height */
    display: inline-flex; /* Align the SVG icon */
    align-items: center;
    justify-content: center;
}

/* Style for arrow icons (SVG) */
.arrow-icon {
    fill: #FFFFFF; /* SVG icon color */
    width: 35px; /* SVG icon width */
    height: 35px; /* SVG icon height */
}

.calendar {
    width: 100%;
    max-width: 450px;
    margin: 0 auto;
    border-collapse: collapse;
}
.calendar thead {
    background-color: #1c1c1e; /* Color for top day blocks */
    color: #f1f0f5;
}
.calendar th {
    padding: 10px;
    border: 1px solid #1c1c1e; /* Color for top day block borders */
    text-align: center;
}
.calendar td {
    width: 14.28%;
    height: 75px;
    border: 1px solid #242424;
    text-align: right; /* Keep the date aligned to the right */
    vertical-align: top; /* Keep the date aligned to the top */
    padding: 5px;
    color: #f1f0f5;
    position: relative; /* Needed for absolute positioning of children */
}
.calendar td:not(:empty):hover {
    background-color: #262626;
    cursor: pointer;
}
.calendar td.not-current-month {
    color: #555555; /* Lighter text color for trailing and leading days */
}
/* Styles for date number */
.calendar td span {
    display: inline-block; /* Or 'block' if you want the date to be on its line */
}

/* Style for the current day with a different color and glow effect */
.selected-day {
    background-color: #1f66f4; /* A green background for the current day */
    color: white;
    font-weight: bold;
    box-shadow: 0 0 20px #1f66f4; /* Glow effect */
}
/* Style for input number */
.input-container {
    color: #FF0000;
    font-size: 1.5em !important;
    position: absolute; /* Absolute position within the cell */
    left: 50%; /* Center horizontally */
    top: 50%; /* Center vertically */
    transform: translate(-50%, -50%); /* Adjust to center perfectly */
    width: 100%; /* Full width of the cell */
    text-align: center; /* Center the text within the container */
}

/* Custom Modal Styles */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    align-items: center; /* Align the box to the center */
    justify-content: center; /* Center horizontally */
    pointer-events: none;  /* Ensures that by default pointer events pass through */
}


.modal-content {
    background-color: #1a1a1a;
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    width: fit-content; /* Adjust width to content */
    color: white; /* Text color */
    pointer-events: auto; /* Enables pointer events on the modal content */
    position: relative; /* Add this to ensure .close-button is positioned correctly */
}

.number-input-container {
    display: flex; /* Aligns the buttons and input inline */
    justify-content: center; /* Center the content */
    margin: 20px 0;
}

.number-button {
    background-color: transparent; /* Button background color */
    color: white; /* Button text color */
    border: none; /* No border */
    padding: 20px; /* Button padding */
    font-size: 2.5rem; /* Increase font size */
    margin: 0 10px; /* Margin around buttons */
    margin-bottom: -10px;
    border-radius: 5px; /* Rounded corners */
    transform: translate(5%, -25%);
}

#number-input {
    font-size: 2.5rem; /* Larger font size for the number */
    margin: 0 10px; /* Space around the number */
    transform: translate(20%, 0%);
}

.modal-actions {
    display: flex; /* Align buttons in a row */
    justify-content: center; /* Center the buttons */
}

.action-button {
    background-color: #007bff; /* Button background color */
    color: white; /* Button text color */
    border: none; /* No border */
    padding: 10px 20px; /* Button padding */
    margin: 0 10px; /* Margin around buttons */
    font-size: 1.5rem; /* Font size */
    border-radius: 5px; /* Rounded corners */
}

.action-button-cancel {
    background-color: #333333; /* Button background color */
    color: white; /* Button text color */
    border: none; /* No border */
    padding: 10px 20px; /* Button padding */
    margin: 0 10px; /* Margin around buttons */
    font-size: 1.5rem; /* Font size */
    border-radius: 5px; /* Rounded corners */
}

/* Prevent double-tap zoom on buttons and calendar cells */
button, .calendar td {
    touch-action: manipulation;
}

/* Style for carried-over inputs */
.carried-over-input {
    color: #990000 !important; /* Choose a different color */
    /* Add any other styles you want for carried-over inputs */
}




/* Styles for the bottom menu */
.bottom-menu {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    background-color: #1a1a1a;
    padding: 10px 0;
}

.menu-button {
    background: none;
    border: none;
    cursor: pointer;
}

.menu-icon {
    fill: #ffffff;
    width: 24px;
    height: 24px;
}

/* Styles for the sum prompt */
#sum-prompt .modal-content {
    /* Your existing styles for modal content */
    /* Position adjustments to display above the menu */
    bottom: 50px; /* Adjust as necessary to position above the menu */
    width: 300px;
    font-size: 1.5em;
    background-color: #1a1a1a;
}

#weekly-summaries div {
    margin-top: 10px;
    padding-left: 0px; /* Adjust as needed for alignment */
    text-align: left; /* Align text to the left */
  /*  font-size: 1.5em;*/
}

.close-button {
    position: absolute;
    padding-bottom:100px;
    top: 5px;
    right: 20px;
    font-size: 1.5em;
    color: white;
    cursor: pointer;
}

.drinks-title {
  transform: translate(0%, -50%);
  font-size: 1.5em;
  /*  margin-left: 20px; /* Adjust the value as needed to move the text to the right */
    /* Add other styles as needed */
}

.weekly-drinks-title {
  font-size:1.25em;
  color: #1aa3ff;
}

#weekly-summaries div:nth-child(odd) {
    color: #cc2900; /* Color for odd weeks */
  /*  text-decoration: underline white;
}

#weekly-summaries div:nth-child(even) {
    color: white; /* Color for even weeks */
  /*  text-decoration: underline #cc2900;*/
}

/* Color for the drink numbers of odd weeks */
#weekly-summaries div:nth-child(odd) .drinks-number {
    color: white; /* Replace with your desired color for odd weeks */
}

/* Color for the drink numbers of even weeks */
#weekly-summaries div:nth-child(even) .drinks-number {
    color: #cc2900; /* Replace with your desired color for even weeks */
}
